<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('navbar') %>
        <div class="div">
            <div class="div2">
                <h1>Add Task</h1>
            <form action="/add" method="POST" class="form">
                <input class="input" type="text" id="task" name="task" required><br><br>
                <button type="submit" class="sb-btn">Add Task</button>
            </form>
            </div>
        </div>
</body>

</html>